#container-buttonTable {
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 0;
}

.table-head-color {
  color: aliceblue;
  background-color: #4a8464;
}

div.table-responsive {
  overflow-x: auto;
  display: block;
}

table {
  min-width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
}

th,
td {
  white-space: nowrap;
}

tbody tr {
  border-bottom: 1px solid #00897b;
}

th,
td {
  min-width: 80px; /* Define uma largura mínima para as outras colunas */
}

.butTable-section {
  width: 100%;
  overflow-x: auto;
  display: flex;
  margin-top: 1ch;
  margin-bottom: 1ch;
  background-color: #e8faf0;
  border-radius: 8px;
  flex-direction: column;
  margin-bottom: 30px;
}

.butTable-header {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 8px;
  font-weight: 700;
  font-size: 18px;
}

#text-point {
  font-weight: bolder;
  text-align: center;
  padding: 0.4rem 0.8rem;
}

#text-value-center {
  text-align: center;
  padding: 0.4rem 0.8rem;
  width: 400px;
}

.butTable-group {
  display: flex;
  flex-direction: column;
}

.phase-butTable {
  padding-bottom: 10px;
}

#table_Notitle {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Lucida Console", "Courier New", monospace;
  font-size: 18px;
  font-weight: 900;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  padding: 7px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #00897b;
  border-radius: 8px;
  color: antiquewhite;
}

@media only screen and (max-width: 767px) {
  #text-value-center {
    min-width: 280px;
  }
}

@media only screen and (max-width: 489px) {
  #text-value-center {
    min-width: 200px;
  }
}

@media only screen and (max-width: 349px) {
  #text-value-center {
    min-width: 168px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
